.books-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .books-background {
  }
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.loader-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
